@charset "UTF-8";

$themeColor : #eb514f; 
$themeDark : #3d0042;
$themeAsh : #313131;
$defFont : #555;



$teal:#3faac9;

$TRed: #eb514f;
$TYellow: #f3cb47;

/* Colors */

$blue:#3498db;
    $blueR:52;
    $blueG:152;
    $blueB:219;

$asphalt:#34495e;
$yellow :#f1c40f;
$greenBlue : #1abc9c;
$green : #27ae60;
$red : #c0392b;
$orange : #e67e22;
$grey : #95a5a6;
$cloud : #ecf0f1;

/* images */

/* Testing */
$TB1 : red dashed 1px;
$TB2 : #555 dashed 1px;
$TB3 : #aaa dashed 1px;
$TB4 : #ddd dashed 1px;

$Tborder : $TB1;
 

 $themeColor : #4fccd0;
 $tcr : 79;
 $tcg : 204;
 $tcb : 208;

 $themeColorR : #F37372;
 $tcr_r : 230;
 $tcg_r : 78;
 $tcb_r : 77;

 $themeColorR : #e74c3c;


 $themeColorGD : #63e34e;

 $themeColorG : #51d73b;
 $themeColorG : #64c851;
 $tcr_g : 81;
 $tcg_g : 215;
 $tcb_g : 59;

 $themeBG : #2D666F;
 // $themeBG : #23c5f4;