<div class="homePage">
	<div class="homeTop">
		<div class="boxx">
			<div class="ht_img"></div>
			<div class="ht_gr"></div>

			<div class="ht_logo"><img draggable="false"  src="images/home/logoWhite.png"></div>
			<div class="ht_logo htl_big"><img draggable="false"  src="images/home/logoWhite.png"></div>
			<div class="ht_name">BLUECIPHERZ</div>
			<div class="ht_desc">YOUR IDEA IS OUR CHALLENGE</div>

			<div class="scrollArrow" ng-click="main.scrollArrow();">
				<div class="sca1"></div>
				<div class="sca2"></div>
				<div class="sca3"></div>
			</div>
		</div>
	</div>
	<div class="homeMid2">
		<div class="boxx">
			<div class="hm2_head" >YOUR IDEA IS OUR CHALLENGE</div>
		</div>
		<div class="hm2_sector hm2_sectorTop">
			<div class="boxx">
				<div class="hm2s_img ">
					<div class="hm2si_base"><img draggable="false" src="images/home/mid/anim/a1_1.png"></div>
					<div class="hm2si_anim hm2sia1_1"><img draggable="false" src="images/home/mid/anim/a1_2.png"></div>
					<div class="hm2si_anim hm2sia1_2"><img draggable="false" src="images/home/mid/anim/a1_2.png"></div>
				</div>
				<div class="hm2s_cont">
					<div class="hm2sc_head">We Think</div>
					<div class="hm2sc_desc">Dont worry about the whole idea of the site. we got what you need. Dont worry about the whole idea of the site. we got what you need. Dont worry about the whole idea of the site. we got what you need.</div>
				</div>
			</div>
		</div>


		<div class="hm2_sector hm2s_right">
			<div class="boxx">
				<div class="hm2s_img">
					<div class="hm2si_anim hm2sia2_1"><img draggable="false" src="images/home/mid/anim/a2_2.png"></div>
					<div class="hm2si_base hm2sia2_base"><img draggable="false" src="images/home/mid/anim/a2_1.png"></div>
				</div>
				<div class="hm2s_cont">
					<div class="hm2sc_head">We Develop</div>
					<div class="hm2sc_desc">Dont worry about the whole idea of the site. we got what you need. Dont worry about the whole idea of the site. we got what you need. Dont worry about the whole idea of the site. we got what you need.</div>
				</div>
			</div>
		</div>


		<div class="hm2_sector">
			<div class="boxx">
				<div class="hm2s_img">
					<div class="hm2si_base "><img draggable="false" src="images/home/mid/anim/a3_1.png"></div>
					<div class="hm2si_anim hm2sia3_1"><img draggable="false" src="images/home/mid/anim/a3_2.png"></div>
				</div>
				<div class="hm2s_cont">
					<div class="hm2sc_head">We Deploy</div>
					<div class="hm2sc_desc">Dont worry about the whole idea of the site. we got what you need. Dont worry about the whole idea of the site. we got what you need. Dont worry about the whole idea of the site. we got what you need.</div>
				</div>
			</div>
		</div>


		<div class="hm2_sector hm2s_right">
			<div class="boxx">
				<div class="hm2s_img">
					<div class="hm2si_base"><img draggable="false" class="hm2sia4" src="images/home/mid/anim/a4.png"></div>
				</div>
				<div class="hm2s_cont">
					<div class="hm2sc_head">We Maintain</div>
					<div class="hm2sc_desc">Dont worry about the whole idea of the site. we got what you need. Dont worry about the whole idea of the site. we got what you need. Dont worry about the whole idea of the site. we got what you need.</div>
				</div>
			</div>
		</div>
	</div>
	<div class="homeMid">
		<div class="homeGraph">
			<div class="hmhg_circle" ng-click="main.hmTab = 1" ng-class="{'hmhg_circleAct':main.hmTab == 1}">MOBILE</br>APP</div>
			<div class="hmhg_line"></div>
			<div class="hmhg_circle" ng-click="main.hmTab = 2" ng-class="{'hmhg_circleAct':main.hmTab == 2}">WEB</br>APP</div>
			<div class="hmhg_line"></div>
			<div class="hmhg_circle" ng-click="main.hmTab = 3" ng-class="{'hmhg_circleAct':main.hmTab == 3}">POS</br>SOFTWARE</div>
			<div class="hmhg_line"></div>
			<div class="hmhg_circle" ng-click="main.hmTab = 4" ng-class="{'hmhg_circleAct':main.hmTab == 4}">GRAPHIC</br>DESIGN</div>

			<div class="animB animB1"></div>
			<div class="animB animB2"></div>
			<div class="animB animB3"></div>
			<!-- <div class="animB animB4"></div> -->

			<div class="hmhg_cont"  ng-class="{'hmhg_contAct':main.hmTab == 1}">
				<div class="hmhgc_img"><img draggable="false"  src="images/home/mid/1.png"></div>
				<div class="hmhgc_cont">
					<div class="hmhgcc_head">MOBILE APPLICATIONS</div>
					<div class="hmhgcc_cont">We think about your idea and we will Develop it to a Application which is in a professional range. This paragraph is which is im writing is to make sure the content is filled and proper, What is the objection is the there is no water</div>
				</div>
			</div>
			<div class="hmhg_cont"  ng-class="{'hmhg_contAct':main.hmTab == 2}">
				<div class="hmhgc_img"><img draggable="false" src="images/home/mid/2.png"></div>
				<div class="hmhgc_cont">
					<div class="hmhgcc_head">WEB APPLICATIONS</div>
					<div class="hmhgcc_cont">When your idea and we will Develop it to a Application which is in a professional range. This paragraph is which This is a perfect situations to make the grudge come to the house</div>
				</div>
			</div>
			<div class="hmhg_cont"  ng-class="{'hmhg_contAct':main.hmTab == 3}">
				<div class="hmhgc_img"><img draggable="false"  src="images/home/mid/3.png"></div>
				<div class="hmhgc_cont">
					<div class="hmhgcc_head">POS SOFTWARES</div>
					<div class="hmhgcc_cont">Now use and we will Develop it to a Application which is in a professional range. This paragraph is which is im writing is to make sure the content is filled and proper, What is the objection is the there is no water is not powe enough</div>
				</div>
			</div>
			<div class="hmhg_cont"  ng-class="{'hmhg_contAct':main.hmTab == 4}">
				<div class="hmhgc_img"><img draggable="false"  src="images/home/mid/4.png"></div>
				<div class="hmhgc_cont">
					<div class="hmhgcc_head">GRAPHIC DESIGNS</div>
					<div class="hmhgcc_cont">Clear thing about maintainance is that when you maintain we can supply a pure water drop to you, idea and we will Develop it to a Application which is in a professional range. This paragraph is which is im writing is to make sure the content is filled and proper, What is the objection is the there is no water, But there is no drinking fecility</div>
				</div>
			</div>
		</div>

	</div>
</div>