<div class="basePage sh_page">
	<div class="homeTop notHome">
		<div class="boxx">
			<div class="ht_img"></div>
			<div class="ht_gr"></div>

			<div class="ht_nameHead">WHO WE ARE</div>

			<div class="ht_logo"><img draggable="false" src="images/who_we_are/logo.png"></div> 
			<div class="ht_logo htl_big"><img draggable="false" src="images/who_we_are/logo.png"></div> 

			<div class="scrollArrow" ng-click="who.scrollArrow();">
				<div class="sca1"></div>
				<div class="sca2"></div>
				<div class="sca3"></div>
			</div>
		</div>
	</div>
	<div class="wwa_mid">
		<div class="boxx">
			<div class="wwam_head">ABOUT OUR COMPANY</div>
			<div class="wwam_mid">
				<div class="wwamm_img"><img src="images/who_we_are/logoBig.png"></div>	
				<div class="wwamm_cont"><span>BLUECIPHERZ</span> is a east indian company which accomodate trillians of people just to trick them all at one time. You can alway join our campain inorder to specify the jingle bells rythm in you flaffy face.what is the main ejaculation problem is that when you see a little shit in your face you think oohh.Thats a bullshit, But its not its a real shit. You know what tupac said. Real shit realshit real she hit, There is still a thounsand reasons to stool on you face. But he is not doing it. Why ? Oh god because its Jocky fishy.</div>	
			</div>
			<div class="wwam_desc">This is a east indian company which accomodate trillians of people just to trick them all at one time. You can alway join our campain inorder to specify the jingle bells rythm in you flaffy face.what is the main ejaculation problem is that when you see a little shit in your face you think oohh.Thats a bullshit, But its not its a real shit. You know what tupac said. Real shit realshit real she hit, There is still a thounsand reasons to stool on you face. But he is not doing it. Why ? Oh god because its Jocky fishy.</br></br>
			Enjoy east indian company which accomodate trillians of people just to trick them all at one time. You can alway join our campain inorder to specify the jingle bells rythm in you flaffy face.what is the main ejaculation problem is that when you see a little shit in your face you think oohh.Thats a bullshit, But its not its a real shit. You know what tupac said. Real shit realshit real she hit, There is still a thounsand reasons to stool on you face. But he is not doing it. Why ? Oh god because its Jocky fishy
			This is a east indian company which accomodate trillians of people just to trick them all at one time. You can alway join our campain inorder to specify the jingle bells rythm in you flaffy face.what is the main ejaculation problem is that when you see a little shit in your face you think oohh.Thats a bullshit, But its not its a real shit. You know what tupac said. Real shit realshit real she hit, There is still a thounsand reasons to stool on you face. But he is not doing it. Why ? Oh god because its Jocky fishy.</br></br>

			</div>
		</div>
	</div>
</div>